.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .list-group li{
  height:200px;
  width:200px;
  background-color: rgb(105, 114, 114);
  display: inline-block;
} */
/* .card{
  height:200px;
  width:250px;
  background-color: rgb(49, 80, 80);
  display: inline-block;
  margin-bottom: 20px;
  border:1px solid black;
  color:blue;
} */
